<ion-content padding class="content">
  <div>
    <div class="sign-in-bottom-container">
      <div class="sign-in-content">
        <div class="next-btn-container" [routerLink]="['otp-verification']">
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="title-container">
          <h3>Sign In</h3>
        </div>

        <div class="credential-box">
          <div class="form-input">
            <ion-input
            aria-label="Mobile No."
            placeholder="Mobile No."
            class="custom"
            [maxlength]="20"
          ></ion-input>
          </div>
        </div>

        <div class="info-box">
          <p>We will send OTP to this Mobile No.</p>
        </div>
      </div>

    </div>
  </div>
</ion-content>
