<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-title>location-setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
  <div class="ion-padding">
<div class="search-bar">
  <ion-searchbar color="light" placeholder="Search location"></ion-searchbar>
</div>

<div class="map">

</div>
<div class="map-wrapper" style="height: 100%;">
  <div id="map_center">
    <ion-icon name="pin" size="large" color="danger"></ion-icon>
  </div>
  <div #mapElement  style="height: 100%;"  id="map"></div>
</div>

  </div>
</ion-content>
