<ion-content padding class="content">
  <!-- <div> -->
<!-- <div class="search-bar">
  <ion-searchbar color="light" placeholder="Search location"></ion-searchbar>
</div> -->

<div class="map" #map></div>

<div class="sign-in-bottom-container">
  <div class="sign-in-content">
    <div class="next-btn-container"  [routerLink]="['/tabs/']">
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
    <div class="title-container">
      <h3>I'm Here...</h3>
    </div>
    <p>{{formattedAddress}}</p>
  </div>

</div>
   <!-- </div>  -->
</ion-content>
