ion-header {
  ion-toolbar {
   ion-button{
    height:50px;
    width:50px;
    --border-radius:50%;

   }
    ion-title {
      font-family: "latoBold";
      font-weight: 600;
      font-size: 16px;
     display:inline-block;
  }
  }

}

ion-content{
  font-family:"latoRegular";
  --ion-background-color:#ffffff;
.search-bar{
  ion-searchbar.custom {
    --background:#ffc51a;
    --color: #fff;
    --placeholder-color: #fff;

    --icon-color: #fff;
    --clear-button-color: #fff;
    --box-shadow: none;
    --border-radius: 5px;
  }

  ion-searchbar.md.custom {
  --cancel-button-color: #fff;
  }

}


}
